VITE_API_BASE_URL=http://localhost:5000
VITE_STELLAR_NETWORK=testnet
VITE_STELLAR_RPC_URL=https://soroban-testnet.stellar.org
VITE_STELLAR_HORIZON_URL=https://horizon-testnet.stellar.org
VITE_STELLAR_NETWORK_PASSPHRASE=Test SDF Network ; September 2015

# cstellar deployed contract configuration
VITE_WRAPPER_CONTRACT_ID=CANPC3GPV4AB4XEZ7KVQJEEE3BWFEMRIQ3A7FEP76O6V3OVEMNBNCY2T
VITE_VERIFIER_CONTRACT_ID=CBRMJJVLW2LKO5XG26ENSZLBBXS32DHP6DVDSBPLWUKIX2NSJKA62NQ4
VITE_ASSET_ADDRESS=CDLZFC3SYJYDZT7K67VZ75HPJVIEUVNIXF47ZG2FB2RMQQVU2HHGCYSC
